{% extends '::admin.html.twig' %}
{% block title %}Administration{% endblock %}

{% block innerwrap %}<div id="inner-wrap" class="project-management">{% endblock %}

{% block content %}
	<div id="main" role="main">
		Test
	</div>
{% endblock %}

{% block javascriptcunstom %}
{% endblock %}