<div id="a-propos">
	<div id="sidebar">
		
	</div>

	<h1>A propos de moi</h1>

	<p>
		Je suis Pierre Mary, et je vis entre <b>Paris</b> et <b>Troyes</b><br>
		Passionné par le monde du design et du developpement web et mobile j"effectue actuellement une licence <b>CDNL</b> (Création et Développement de Contenus Numériques en Ligne) à <b>Gobelins</b>.
	</p>

	<p>N'hésitre pas à me suivre:</p>
	<ul>
		<li><a href="http://twitter.com/DigitalArtStone"><img src="{{ asset('')}}bundles/portfolio/images/"></a></li>
		<li><a href="http://lnkd.in/dzVJ_i"><img src="{{ asset('')}}bundles/portfolio/images/"></a></li>
	</ul>

	<p><a href=""><img src="{{ asset('')}}bundles/portfolio/">Ou à me contacter</a></p>

	<p><a id="cv-link" href="{{ asset('')}}bundles/portfolio/">Télécharger mon CV</a></p>
</div>

<script>
	$('#inner-wrap').removeClass();
	$('#inner-wrap').addClass('portfolio');
</script>