<div id="main" role="main">
    <canvas id="cvs"></canvas>
</div>

<script src="{{ asset('')}}bundles/portfolio/js/snow.js"></script>
<script>
    $(function(){
        var maxHeight = 0;

        resizedMain();   

        $(window).resize(function() {
            resizedMain();
        });

        function resizedMain(){
            $("#main").css("height",$(window).innerHeight()-$("header").innerHeight());
        }
        function horizontalCenter(){
            $('.loader').css("marginTop",$(window).innerHeight()/2);
            $('.loader').css("display",'block');
        }

        $('#main').css('display','block');
    });

    $('#inner-wrap').removeClass();
    $('#inner-wrap').addClass('accueil');
</script>