<div id="mentions">
	<h1>Prestataire d'hébergement</h1>
	<p>OVH SAS au capital de 10 000 000 € RCS Roubaix – Tourcoing 424 761 419 00045 
	Code APE 6202A - N° TVA : FR 22 424 761 419
	Siège social : 2 rue Kellermann 59100 Roubaix - France.<p>

	<p>L'ensemble de ce site relève des législations française et internationale sur le droit d'auteur et la propriété intellectuelle. 
	Tous les droits de reproduction sont réservés, y compris pour les documents iconographiques et photographiques.</p>
</div>
<script>
    $('#inner-wrap').removeClass();
    $('#inner-wrap').addClass('portfolio');
</script>